@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Press+Start+2P&family=Roboto:wght@300&display=swap');





* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url('https://wallpapers.com/images/featured/black-abstract-m8kr2hfvrwlt8j5g.jpg');
    background-size: cover;
    height: auto;
    font-family: 'Aclonica', sans-serif;

}

.instructions-container {
    display: flex;
    flex-basis: 50vw;
    justify-content: center;
     margin:1rem;
    color: black;
    align-items: center;
    height: 100vh;
}

.key-points {
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}