@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Jost:wght@300&family=Mukta:wght@300&family=Press+Start+2P&family=Roboto:wght@300&display=swap');



* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url('https://wallpapers.com/images/featured/black-abstract-m8kr2hfvrwlt8j5g.jpg');
  background-size: cover;
  height: auto;
  font-family: 'Press Start 2P', cursive;
}

.memory-game-container {
  display: flex;
  height: 100%;
}

.main-container {
  display: none;
  flex-basis: 100%;
  flex-direction: column;
  align-items: center;
}

.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  gap: 0.9rem;
  height: 100vh;
}

.start-container h1 {
  text-align: center;
}


.select-level {
  display: none;
  flex-basis: 100%;
  height: 75vh;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 6px;
  border: transparent;
  outline: none;
  cursor: pointer;
  font-family: 'Press Start 2P', cursive;
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  color: white;


}


.game-container {
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  margin: 1rem;
  width: 500px;
  justify-content: center;
  padding: 1rem;
  opacity: 0.8;
  background-color: lightcyan;
  border-radius: 15px;
  
}

.memory-card {
 
  width:90px;
  height:100px;
  margin: 5px;
  display: flex;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 2px solid hsla(252, 13%, 46%, 1);
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid #97FFF4;
}


.front-face,
.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;

}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}


.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}



.success-container h4 {
  color: white;
  margin: 1rem;
}

.success-container h2 {
  color: white;
}

.board-container {
  display: flex;
  flex-basis: 40%;
  gap: 2rem;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
}

.title-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-container h1 {
  margin-top: 3rem;
}


.success-container {
  display: none;
  flex-basis: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.success-container h3 {
  color: green;
  margin: 1rem 0;
  font-size: 50px;
}


.success-wrap-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:1.5rem;
  margin-top:2rem;
}

.instructions {
  background-color: #6617cb;
  background-image: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
  color: white;
  padding:10px;
  font-size: 20px;
  border-radius: 6px;
  
}

.restart-confirm {
  display: none;
  text-align: center;
  padding:1rem;
}


.game {
  display: block;
  margin-top: 1rem;
}

.confirm {
  display: none;
  padding:1rem;
}

.restart-container {
  text-align: center;
}

.confirm-yes {
  display: block;
  padding-top:0.8rem;
}

span {
  cursor: pointer;
  color:#cb218e
}

span:hover {
  color: #f47bc7;
}



@media screen and (max-width: 850px) {
  .game-container {
    /* height: 650px; */
    margin: auto;
    display: flex;
    perspective: 1000px;
    width: 80%;
    height: 80%;
    margin-top: 2rem;
  }

  .main-container h1 {
    font-size: 20px;
  }

  .main-container h2 {
    font-size: 15px;
  }

  .title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
   
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

  .memory-card {
    width: 80px;
    height: 80px;
    margin: 5px;
    display: flex;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    border: 2px solid #97FFF4;
    cursor: pointer;
  }

}  

@media screen and (max-width: 450px) {

  .memory-game-container {
    height: 100%;
    display: flex;
    
  }

  .game-container {
    margin-top: 20rem;
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
    gap:5px;
    /* margin-bottom: 16rem; */
    padding: 0.45rem;
    margin-top: 2rem;
  }

  button {
    padding:0.5rem;
    
  }

  .main-container h1 {
    font-size: 20px;
  }

  .main-container h2 {
    font-size: 15px;
    color: white;
  }

  .title-container {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .board-container {
    flex-basis: 80%;
    flex-direction: column;
    gap: 0.7rem;
  }

  .select-level {
    display: none;
    flex-direction: column;
  }

}

